* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 40px;
}
.container .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}
.india {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  animation: m 2s;
}
@keyframes m {
  from {
    padding-left: 10px;
  }
  to {
    padding-left: 100%;
  }
}
.title {
  color: white;
}
.title:hover {
  color: red;
}
.subtitle {
  color: red;
}
li:nth-child(2) {
  color: white;
}
